altgraph
certifi
chardet
entrypoints
flake8-isort
flake8
future
gevent
greenlet
idna
isort
macholib
mccabe
msgpack-python
pefile
pycodestyle
pyflakes
pyzmq
requests
testfixtures
urllib3
zerorpc
bs4
pyobjc
